PORT=3003
FRONTEND_ORIGIN=http://localhost:3002
PURPLECALLIO_API_KEY=bj_live_c32d56221b80947a7e26c9755fe7a6669cb47bb28324a342388763bad343fd56
PURPLECALLIO_BASE_URL=https://purplecallio.serveminecraft.net/api
PURPLECALLIO_SIGNAL_URL=https://purplecallio.serveminecraft.net/api
